<?xml version="1.0" encoding="UTF-8"?>
<Server debug='4'>
	<Service name='Catalina'>
		<Connector port='8080' protocol='HTTP/1.1'
			connectionTimeout='20000' redirectPort='8443' />
		<Engine name='Catalina' defaultHost='localhost'>
			<Host name='localhost' appBase='WebContent'>
				<Context path='' docBase=''>
					
				</Context>
			</Host>
		</Engine>
	</Service>
</Server>
