<?xml version="1.0" encoding="UTF-8"?>
<Server port="8080">
	<Service name="Catalina">
		<Connector port="8080" protocol="HTTP/1.1"
			connectionTimeout="20000" redirectPort="8443" />
		<Engine name="Catalina" defaultHost="localhost">
			<Host name="localhost" appBase="WebContent">
				<Context path="" docBase="">
					<WatchedResource>WEB-INF/web.xml</WatchedResource>
				</Context>
			</Host>
		</Engine>
	</Service>
</Server>